<li>
  <% fields_for :todos, todo, :index => todo.id do |todo_fields| %>
    <%= todo_fields.check_box(:complete) %>
  <% end %>
  <%= todo.name %>
  <div class="controls">
    <%= link_to "Edit", edit_todo_path(todo) %> |
    <%= link_to "Delete", confirm_delete_todo_path(todo) %>
  </div>
</li>